<!-- templates/general/student_home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Student Dashboard</h2>
    <div class="row">
        <!-- Sidebar Navigation -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="{% url 'student-home' %}" class="list-group-item list-group-item-action active">
                    <i class="fas fa-home"></i> Dashboard
                </a>
                <a href="{% url 'student-books' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-book-open"></i> Browse Books
                </a>
                <a href="{% url 'student-borrowed' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-bookmark"></i> My Borrowed Books
                </a>
                <a href="{% url 'student-history' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-history"></i> Borrowing History
                </a>
                <a href="{% url 'student-profile' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-user-edit"></i> Update Profile
                </a>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            {% include 'general/student_section.html' %}
        </div>
    </div>
</div>
{% endblock %}